/* GENERAL */

:root{
	--main-color: rgb(31, 52, 77);
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body{
	margin-top: 80px;
}
li{
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
h1, h3{
	font-family: 'Rowdies', cursive;
	text-transform: uppercase;
}
h3{
	color: var(--main-color);
	font-size: 5rem;
}
h5{
	font-size: 1.8rem;
	margin: 20px 0 20px 25px;
}
h4, h5, p{
	font-family: 'Lato', sans-serif;
}
.span-text{
	color: transparent;
}

/* HEADER */
header{
	width: 100%;
	padding: 5px 20px 3px 25px;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	z-index: 10;
}
header::before{
	content: "";
	width: 100%;
	height: 83px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--main-color);
	z-index: -5;
}
#ouvrir-menu, #fermer-menu{
	width: 72px;
	height: 72px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
#ouvrir-menu img, #fermer-menu img{
	width: 72px;
	height: 72px;
}

/* NAVBAR */
#navbar{
	width: 300px;
	height: 100vh;
	padding: 0 20px;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: #fff;
	font-family: 'Rowdies', cursive;
	font-size: 2.8rem;
	text-transform: uppercase;
	background-color: var(--main-color);
}
#fermer-menu{
	position: absolute;
	top: 5px;
	right: 20px;
}
.nav-links{
	margin: 6vh 0;
	text-align: center;
}
.nav-links:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}

/* ACCUEIL */
#accueil{
	width: 100vw;
	height: 100vh;
	padding: 0 30px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-align: center;
}
#accueil::before{
	content: "";
	height: 100vh;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url("img/background-img.jpg") center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	z-index: -10;
}
#accueil::after{
	content: "";
	width: 100%;
	height: calc(100vh + 90px);
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(44, 109, 173, 0.3);
	z-index: 0;
}
#accueil h1{
	margin-top: -80px;
	font-size: 10rem;
	letter-spacing: 5px;
	z-index: 5;
}
#accueil h4{
	margin: 5px 0;
	font-size: 2.5rem;
	z-index: 5;
}
#accueil p{
	font-size: 2.1rem;
	font-weight: normal;
	z-index: 5;
}
#accueil a{
	width: 250px;
	height: 55px;
	margin: 25px 0;
	font-family: 'Rowdies', cursive;
	font-size: 2.3rem;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-color);
	border-radius: 3px;
	z-index: 5;
}
#accueil a:hover{
	-webkit-transform: scale(0.97);
	-moz-transform: scale(0.97);
	transform: scale(0.97);
}

/* GROUPE */
#groupe, #solo, #about, #contact{
	width: 100%;
	padding: 95px 60px;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
#groupe-photo{
	width: 560px;
	height: 373px;
	margin: 30px 0;
	position: relative;
	background-image: url("https://images.unsplash.com/photo-1526485641275-3b11a42acd44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
	background-size: contain;
}
#groupe-photo::before{
	content: "";
	width: 560px;
	height: 373px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(28,172,255,0.17);
}
#groupe-div, #about-div{
	width: 30vw;
	min-width: 344px;
	padding: 0 10px
}
#groupe-div p, #solo-div p, #about p, #contact p, #contact a{
	font-size: 1.7rem;
	text-align: justify;
}
#groupe-div p{
	margin-left: 40px;
}

/* SOLO */
#solo-photo{
	width: 492px;
	height: 505px;
	margin: 20px 0;
	position: relative;
	background-image: url("https://images.unsplash.com/photo-1511291498659-aff8bffd84d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1987&q=80");
	background-size: contain;
}
#solo-photo::before{
	content: "";
	width: 492px;
	height: 505px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(28,172,255,0.10);
}
#solo-div{
	width: 38vw;
	min-width: 412px;
	padding: 0 10px;
}
#solo-div p{
	margin: 0 40px;
}

/* SEPARATEURS*/
.separateur{
	width: 100%;
	height: 160px;
	background-image: url("https://images.unsplash.com/photo-1507166763745-bfe008fbb831?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
	background-attachment: fixed, scroll;
}

/* QUI SOMMES-NOUS */
#about-photo{
	width: 560px;
	height: 373px;
	margin: 30px 0;
	position: relative;
	background-image: url("https://images.unsplash.com/photo-1447348590098-cdf42d4b75ec?ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80");
	background-size: contain;
}
#about-photo::before{
	content: "";
	width: 560px;
	height: 373px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(164,231,255,0.21);
}
#about-div h3{
	margin-bottom: 20px;
}
#about-div p{
	margin: 10px 0 0 25px;
}

/* TARIFS */
#tarifs{
	width: 100%;
	padding: 95px 60px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	position: relative;
}
#tarifs-div{
	margin-top: 25px;
	align-self: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
}
#tarifs-div h4{
	color: var(--main-color);
	font-size: 1.6rem;
	margin: 10px;
}
#tarifs-div h5{
	color: var(--main-color);
	margin: 13px 0;
	font-family: 'Rowdies', cursive;
	font-weight: 400;
	text-transform: uppercase;
}
#tarifs-div p{
	font-size: 1.5rem;
	text-align: center;
}
.tarifs-photo img, .tarifs-item{
	width: 225px;
	height: 225px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tarifs-item{
	background-color: rgba(164,231,255,0.21);
}
.tarifs-bouton{
	width: 110px;
	height: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	text-transform: uppercase;
	background-color: var(--main-color);
	border-radius: 3px;
	border: none;
	cursor: pointer;
}
.tarifs-bouton:hover{
	-webkit-transform: scale(0.97);
	-moz-transform: scale(0.97);
	transform: scale(0.97);
}
#tarifs-details{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}
#tarifs-details h3{
	margin-bottom: 20px;
}
#tarifs-details p{
	font-size: 2rem;
	margin: 13px 0;
}
#tarifs-details .tarifs-bouton{
	width: 160px;
	height: 50px;
	margin-top: 10px;
	font-size: 2rem;
}

/* CONTACT */
#contact p, #contact a{
	margin: 5px 0 0 25px;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	text-align: justify;
}
#contact a{
	text-decoration: underline;
}
#contact-div{
	width: 30vw;
	min-width: 344px;
	padding: 0 10px
}
#contact-img{
	width: 530px;
	height: 298px;
	background-image: url("https://images.unsplash.com/photo-1517699418036-fb5d179fef0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3291&q=80");
	background-size: contain;
}

/* FOOTER */
footer{
	width: 100%;
	height: 60px;
	position: relative;
	color: #fff;
}
footer .separateur{
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#ouvrir-mentions{
	height: 20px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 1.3rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
footer span{
	margin: 3px 10px 0 10px;
	font-size: 2rem;
}
footer p{
	margin-top: 2px;
	font-size: 1.3rem;
}
#mentions-legales{
	width: 100%;
	display: flex;
	padding: 40px 60px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	background-color: #fff;
	text-align: center;
}
#mentions-legales p, #mentions-legales li{
	margin: 5px 0;
	color: #000;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
}
#fermer-mentions{
	width: 115px;
	height: 40px;
	margin: 25px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	text-transform: uppercase;
	background-color: var(--main-color);
	border-radius: 3px;
	border: none;
	cursor: pointer;
}
#fermer-mentions:hover{
	-webkit-transform: scale(0.97);
	-moz-transform: scale(0.97);
	transform: scale(0.97);
}

/* RESPONSIVE */
@media screen and (max-width: 1023px){
	h3{
		font-size: 4rem;
	}
	h5{
		margin: 10px 0 10px 25px;
		font-size: 1.7rem;
	}
	#groupe-div, #solo-div, #about-div{
		width: 60vw;
		min-width: 320px;
		padding: 0 10px
	}
	#about-div h3, #tarifs-div h3{
		margin-bottom: 10px;
	}
	#groupe-div p, #solo-div p, #about p, #contact p, #contact a{
		font-size: 1.5rem;
	}
	#solo{
		padding-top: 60px;
		flex-direction: column-reverse;
	}
	#tarifs-div{
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto auto;
	}
	#tarifs-details{
		padding: 0 80px;
		text-align: center;
	}
	#contact-div{
		min-width: 240px;
		padding: 0 10px
	}
	#contact-img{
		width: 400px;
		height: 225px;
	}
}
	
@media screen and (max-width: 760px){
	h3{
		font-size: 2.8rem;
	}
	h5{
		margin: 10px 0 10px 15px;
		font-size: 1.5rem;
	}
	/* NAVBAR */
	#navbar{
		width: 100vw;
		padding: 0 40px;
		font-size: 2.5rem;
	}
	.nav-links{
		margin: 5vh 0;
	}
	/* ACCUEIL */
	#accueil{
		width: 100%;
	}
	#accueil h1{
		margin-top: -40px;
		font-size: 5rem;
		letter-spacing: 3px;
	}
	#accueil h4{
		font-size: 1.8rem;
		font-weight: 400;
	}
	#accueil p{
		font-size: 1.7rem;
	}
	#accueil a{
		width: 220px;
		height: 48px;
		margin: 20px 0;
		font-size: 2rem;
	}
	/* GROUPE */
	#groupe, #solo, #about{
		padding: 40px 0px;
		justify-content: center;
	}
	#groupe-photo{
		width: 261px;
		height: 173px;
	}
	#groupe-photo::before{
		width: 261px;
		height: 173px;
	}
	#groupe-div, #about-div, #solo-div, #contact-div{
		width: 100vw;
		padding: 0 30px
	}
	#groupe-div p, #solo-div p, #about p, #contact p, #contact a{
		font-size: 1.4rem;
	}
	#groupe-div p, #solo-div p{
		margin: 0 0 0 20px;
	}

	/* SOLO */
	#solo{
		padding: 30px 0 50px 0;
	}
	#solo-photo{
		width: 260px;
		height: 267px;
	}
	#solo-photo::before{
		width: 260px;
		height: 267px;
	}

	/* SEPARATEURS*/
	.separateur{
		height: 120px;
	}

	/* QUI SOMMES-NOUS */
	#about-photo{
		width: 261px;
		height: 173px;
	}
	#about-photo::before{
		width: 261px;
		height: 173px;
	}
	#about-div p{
		margin: 10px 0 0 15px;
	}

	/* TARIFS */
	#tarifs{
		padding: 80px 30px 40px 30px;
	}
	#tarifs-div{
		margin-top: 20px;
		align-self: center;
	}
	#tarifs-div h4{
		font-size: 1.3rem;
		margin: 5px;
	}
	#tarifs-div h5{
		margin: 5px 0;
	}
	#tarifs-div p{
		font-size: 1.3rem;
	}
	.tarifs-photo img, .tarifs-item{
		width: 140px;
		height: 140px;
	}
	.tarifs-item{
		padding: 5px;
		text-align: center;
	}
	.tarifs-bouton{
		width: 90px;
		height: 25px;
		font-size: 1.3rem;
	}
	#tarifs-details{
		padding: 0 30px;
	}
	#tarifs-details h3{
		margin-bottom: 10px;
	}
	#tarifs-details p{
		font-size: 1.7rem;
		margin: 8px 0;
	}
	#tarifs-details .tarifs-bouton{
		width: 120px;
		height: 35px;
		font-size: 1.8rem;
	}

	/* CONTACT */
	#contact{
		padding: 40px 30px;
	}
	#contact-div{
		padding: 0;
	}
	#contact p, #contact a{
		margin: 5px 0 0 15px;
	}
	#contact-img{
		width: 260px;
		height: 146px;
		margin: 30px 0;
	}
	/* FOOTER */
	#mentions-legales{
		padding: 40px 20px;
	}
	#mentions-legales p, #mentions-legales li{
		margin: 3px 0;
		font-size: 1.3rem;
	}
	#fermer-mentions{
		width: 90px;
		height: 30px;
		margin: 10px 0;
		font-size: 1.5rem;
	}
}
	
