/* GENERAL */

:root{
	--main-color: rgba(40,95,111,1.00);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	margin-top: 80px;
}

li{
	list-style: none;
}

a{
	color: inherit;
	text-decoration: none;
}

h1, h3{
	font-family: 'Rowdies', cursive;
	text-transform: uppercase;
}

h3{
	color: var(--main-color);
	font-size: 5rem;
}

h5{
	font-size: 1.8rem;
	margin: 20px 0 20px 25px;
}

h5, p{
	font-family: 'Lato', sans-serif;
}

.span-text{
	color: transparent;
}



/* HEADER */

header{
	width: 100%;
	padding: 5px 20px 3px 25px;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	z-index: 10;
}

header::before{
	content: "";
	width: 100%;
	height: 83px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(226,239,248,1.00);
	z-index: -5;
}

#ouvrir-menu{
	width: 72px;
	height: 72px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

#ouvrir-menu img{
	width: 72px;
	height: 72px;
}



/* ACCUEIL */

#accueil{
	width: 100vw;
	height: 100vh;
	padding: 0 30px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-align: center;
}

#accueil::before{
	content: "";
	height: 100vh;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url("https://images.unsplash.com/photo-1458592918806-99f9cfbe41fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=4288&q=80") center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	z-index: -10;
}

#accueil::after{
	content: "";
	width: 100%;
	height: calc(100vh + 90px);
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(30,144,255,0.17);
	z-index: -5;
}

#accueil h1{
	margin-top: -80px;
	font-size: 10rem;
	letter-spacing: 5px;
	z-index: 5;
}

#accueil h4{
	margin: 5px 0;
	font-family: 'Lato', sans-serif;
	font-size: 2.5rem;
	z-index: 5;
}

#accueil p{
	font-size: 2.1rem;
	font-weight: normal;
	z-index: 5;
}

#accueil a{
	width: 250px;
	height: 55px;
	margin: 25px 0;
	font-family: 'Rowdies', cursive;
	font-size: 2.3rem;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-color);
	border-radius: 3px;
	z-index: 5;
}



/* GROUPE */

#groupe, #solo, #about{
	width: 100%;
	padding: 95px 60px;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

#groupe-photo{
	width: 560px;
	height: 373px;
	margin: 30px 0;
	position: relative;
	background-image: url("https://images.unsplash.com/photo-1526485641275-3b11a42acd44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
	background-size: contain;
}

#groupe-photo::before{
	content: "";
	width: 560px;
	height: 373px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(28,172,255,0.17);
}

#groupe-div{
	width: 30vw;
	min-width: 344px;
	padding: 0 10px
}

#groupe-div p, #solo-div p{
	font-size: 1.7rem;
	text-align: justify;
}

#groupe-div p{
	margin-left: 40px;
}



/* SOLO */

#solo-photo{
	width: 492px;
	height: 505px;
	margin: 20px 0;
	position: relative;
	background-image: url("https://images.unsplash.com/photo-1511291498659-aff8bffd84d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1987&q=80");
	background-size: contain;
}

#solo-photo::before{
	content: "";
	width: 492px;
	height: 505px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(28,172,255,0.10);
}

#solo-div{
	width: 38vw;
	min-width: 412px;
	padding: 0 10px;
}

#solo-div p{
	margin: 0 40px;
}



/* SEPARATEURS*/

.separateur{
	width: 100%;
	height: 160px;
	background-image: url("https://images.unsplash.com/photo-1507166763745-bfe008fbb831?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
	background-attachment: fixed;
}




